
obj/project.assets.json
obj/project.nuget.cache
obj/Release/net8.0/apphost.exe
obj/Release/net8.0/ref/StrandsPNGCompression.dll
obj/Release/net8.0/refint/StrandsPNGCompression.dll
obj/Release/net8.0/StrandsPNGCompression.AssemblyInfo.cs
obj/Release/net8.0/StrandsPNGCompression.AssemblyInfoInputs.cache
obj/Release/net8.0/StrandsPNGCompression.assets.cache
obj/Release/net8.0/StrandsPNGCompression.csproj.AssemblyReference.cache
obj/Release/net8.0/StrandsPNGCompression.csproj.CoreCompileInputs.cache
obj/Release/net8.0/StrandsPNGCompression.csproj.FileListAbsolute.txt
obj/Release/net8.0/StrandsPNGCompression.dll
obj/Release/net8.0/StrandsPNGCompression.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net8.0/StrandsPNGCompression.pdb
obj/Release/net8.0/StrandsPNGCompression.sourcelink.json
obj/StrandsPNGCompression.csproj.nuget.dgspec.json
obj/StrandsPNGCompression.csproj.nuget.g.props
LCG.cs
